Repository riesentoaster/geiman01, pull requests merged in 2023-03, with the labels that each got.

#37 Adding quote by escl on behalf of Ra1nerZufall
  .gitignore
  README.md
  quotes.md
Labels: maybething, quote

#39 Adding ChatGPT
  README.md
  chatgpt.md
Labels: maybething

#40 Ferbemar/quotes von escl und scdd
  quotes.md
Labels: quote

#36 Add flum quote of the day
  quotes.md
Labels: maybething, quote

#43 Rejectedthing/hako
  README.md
  assets/hako.png
Labels: rejectedthing

#44 Thing/WortZumSonntag
  README.md
Labels: thing
